{% extends 'base.html' %}

{% block header %}
  <h1 style="padding: 20px;">{% block title %}Nowy artykuł{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="crud">
    <form method="post">
      <input name="title" placeholder="Tytuł artykułu..." id="title" value="{{ request.form['title'] }}" required>
      <input name="description" placeholder="Opis..." id="description" value="{{ request.form['description'] }}" required>
      <textarea name="body" placeholder="Treść..." id="body">{{ request.form['body'] }}</textarea>
      <input type="submit" value="Publikuj" class="edit">
    </form>
  </div>
  <div id="privacy" class="details">
    <div class="scientist">
      <img src="{{url_for('static', filename='scientist.png')}}" height="50px" width="50px" />
    </div>
    <div class="detailsD">
      {{ g.user['name'] ~ " " ~ g.user['last_name'] }}<br>
      {{ g.user['institution']}}
      <br><br>
      <script> document.write(new Date().toLocaleDateString()); </script>
    </div>
    <div class="attachments">
      <i id="paperclip" class="fa fa-paperclip" aria-hidden="true"></i><br>
    </div>
  </div>
  Prywatny
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
{% endblock %}