{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Przegląd{% endblock %}</h1>
  {% if g.user %}
    <div>Obserwuj</div>
  {% endif %}
{% endblock %}

{% block content %}
  <header>
    <u1>
      <li>Name: {{ user['name'] }}</li>
      <li>Last name: {{ user['last_name'] }}</li>
      {% if user['institution'] %}
      <li>Institution: {{ user['institution'] }}</li>
      {% endif %}
      <li>Email: {{ user['email'] }}</li>
    </u1>
  </header>
  {% for article in articles %}
  <article class="post">
    <header>
      <div>
        <h1>{{ article['title'] }}</h1>
        <div class="about">autor: {{ user['name'] ~ " " ~ user['last_name'] }}, {{ article['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == article['author_id'] %}
      <a href="{{ url_for('blog.update', id=post['id']) }}"><button class="edit">Edytuj</button></a>
      {% endif %}
    </header>
    <p class="description">{{ article['description'] }}</p>
    <p class="body">{{article['body'] }}</p>
  </article>
  {% endfor %}
{% endblock %}