{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edytuj "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Tytuł</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="description">Opis</label>
    <input name="description" id="description"
      value="{{ request.form['description'] or post['description'] }}" required>
    <label for="body">Treść</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Usuń" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}