


html { font-family: 'Oswald', sans-serif;  background: #303E40; padding: 1rem; height: 100%; top:0;}
body { max-width: 960px; margin: 0 auto; background: white; height: 100%; top:0;}  
h1 { font-family: serif; color: #CC854E; margin: 1rem 0;}
#overview
{
    color: tomato;
    padding-left: 20px;
}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid rgb(146, 193, 255); }
nav { background: rgb(146, 193, 255); display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.action
{
    float: right;
    text-decoration: none;
}
#container
{
    float: left;
    height: 100%;
    top:0;
}
#topbar
{
    width: 720px;
    height: 40px;
    padding-bottom: 5px;
    background-color: #ACE1E6;
    position: sticky;
    top: 0;
    padding-top: 1px;
    padding-bottom: 20px;
}
.optionT
{
    float: right;
    padding-right: 20px;
    
}
.optionT a
{
    text-decoration: none;
    color: white;
}

#sidebar
{
    padding-top: 20px;
    float: left;
    width: 220px;
    height: 100%;
    background-color: #607D80;
    position: sticky;
    top: 0;
    padding: 10px;
    
}
#sidebar h1
{
    padding: 10px;
    margin-bottom: 60px;
}
#sidebar a
{
    text-decoration: none;
    color: white;
}
.optionL
{
    height: 40px;
    padding: 10px;
    vertical-align:middle;
    font-size: 20px;
}
.optionL:hover
{
    background-color: #BFFAFF;
    color: #303E40;
    cursor: pointer;
}
.content 
{ 
    width: 720px;
    background-color: white;
    float: left;
}
.content > header 
{ 
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
    width: 690px;
    padding-right: 30px;
}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post
{
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body 
{ 
    color: black;
    word-wrap: break-word;
}

.post .description {color: black; font-style: italic;}
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

#searchbar
{
    float: left;
    width: 500px;
}
#searchbar input
{
    width: 300px;
    border-radius: 20px;
}

#searchbar button
{
    border-radius: 20px;
}

#sectionL
{
    float: left;
    height: 100%;
}

.crud
{
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 2px solid grey;
    border-radius: 20px;
    float: left;
    display: block;
}

.crud input
{
    border-radius: 20px;
}

.crud #title
{
    font-size: 24px;
    padding: 5px;
}

.crud #description
{
    font-size: 18px;
    padding: 5px;
}

.crud textarea
{
    border: 2px dotted grey;
    padding:10px;
}

.details
{
    float: left;
    border: 2px solid grey;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    width: 170px;
}

.attachments
{
    border-top: 2px solid grey;
}